.userInfoContainer {
    width: 420px;

    //desabilitado para mobile
    display: none;
}

@media(min-width: 768px) {
    .userInfoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userProfilePhoto {
        width: 42px;
        height: 42px;

        margin-left: 1rem;
        
        border-radius: 50%;
        border: solid 1px var(--yellow-100);

        position: relative;
        
        img {
            width: 100%;
            height: 100%;
            
            
            border-radius: 50%;
        }
    }
}