.userInfo {
    width: 420px;

    display: none;
}

@media(min-width: 768px) {
    .userInfo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .userProfilePhoto {
        width: 32px;
        height: 32px;

        margin-right: 1rem;
        
        border-radius: 50%;
        border: solid 1px var(--cyan);
        
        img {
            width: 100%;
            height: 100%;
            
            
            border-radius: 50%;
        }
    }
}