.menuSection {
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: right;

  .openMenuToggle {
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    div {
      width: 100%;
      height: 3px;

      margin: 2px auto;

      transition-duration: 0.3s;

      background-color: var(--cyan);

      &:last-child {
        width: 70%;

        margin-right: 0;
      }
    }
  }

  .menuNav {
    display: none;
  }
}

.on {
  width: 100%;
  height: 100%;

  z-index: 100;

  position: absolute;

  bottom: 0;
  left: 0;

  opacity: 0.96;

  background-color: var(--black);

  .openMenuToggle {
    position: absolute;
    right: 20px;
    top: 20px;

    z-index: 150;

    div {
      width: 80%;

      margin-left: 10px;

      &:first-child {
        transform: rotate(45deg) translate(-4px, 7px);
      }

      &:last-child {
        transform: rotate(-45deg) translate(0px, -7px);
        width: 80%;
      }
    }
  }

  .menuNav {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      width: 100%;
      li {
        padding: 1rem 0;

        list-style: none;
        text-align: center;

        transition: background 0.2s;

        &:hover {
          background-color: var(--cyan);
        }

        & + li {
          margin-top: 1rem;
        }

        a {
          font-size: 2rem;
          font-weight: bold;

          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .menuSection {
    .openMenuToggle {
      display: none;
    }
  }
}
