.reactModalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.8);

    position: fixed;
}

.reactModalContent {
    width: 100%;
    max-width: 576px;

    padding: 3rem;

    border-radius: 0.3rem;

    background-color: var(--gray-900);

    position: relative;
}

.signInContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;

    span {
        display: block;
        margin-bottom: 1rem;

        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    span:last-of-type  {
        margin: 0.8rem 0 1rem 0;
    }

    .traditionalSignInContent {
        width: 100%;
        max-width: 280px;

        display: flex;
        flex-direction: column;
        label {
            display: block;

            margin-bottom: 0.4rem;
        }

        input {
            margin-bottom: 0.4rem;
            padding: 0.5rem 1rem;
            
            border: none;
            border-radius: 0.3rem;
        }

        input:first-of-type {
            margin-bottom: 1.2rem;
        }

        button {
            margin-top: 0.7rem;
            padding: 0.5rem 1rem;

            font-weight: bold;

            border: none;
            border-radius: 0.3rem;

            color: var(--white);
            background-color: #EBA417;
            
            transition: all 0.2s;

            &:hover {
                filter: brightness(0.8);
                cursor: pointer;
            }
        }
    }

    .socialSignInContent {
        label {
            display: block;

            margin-bottom: 0.5rem;

            font-size: 1rem;
            font-weight: bold;
            text-align: center;
        }

        //signInButton
        button {
            margin: 0;
        }
    }
}