@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  width: 100%;
  height: calc(100vh - 5rem);

  position: absolute;
  bottom: 0;
  
  z-index: 99;

  background-color: var(--gray-900);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 54px;
  height: 54px;

  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
