.logo {
    font-size: 1.5rem;
    font-weight: bold;

    letter-spacing: 0.1rem;

    span {
        margin-left: 4px;

        color: var(--yellow-100);
    }
}

@media(min-width: 1024px) {
    .logo {
        width: 248px;
    }
}