.logo {
    margin-right: 3rem;

    font-size: 1.5rem;
    font-weight: bold;

    letter-spacing: 0.1rem;

    span {
        margin-left: 4px;

        color: var(--cyan);
    }
}

//Deskotop
@media(min-width: 1024px) {
    .logo {
        margin-right: 5rem;
    }
}