.homeContainer {
    width: 100%;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(to right, #000, transparent 100%), url("https://i.pinimg.com/564x/76/ee/e9/76eee9ba6452a1193de810fc0e85f305.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    width: 720px;
    
    padding: 2rem;

    display: flex;
    flex-direction: column;

    > div {
        display: block;

        font-size: 1.5rem;
        font-weight: bold;

        color: var(--white);

        span {
            color: var(--cyan);
        }
    }

    h1 {
        font-size: 2.2rem;
        font-family: "Manrope", sans-serif;
        font-weight: bold;

        margin: 4rem 0 1rem 0;

        line-height: 2.8rem;

        span {
            color: var(--cyan);
        }
    }

    p {
        font-size: 1.1rem;
        font-family: "Manrope", sans-serif;
        font-weight: 500;

        margin-bottom: 2rem;
    }

    a {
        width: 240px;
        
        text-align: center;
        align-self: center;

        padding: 1rem;
        margin-bottom: 1rem;

        border-radius: 100px;

        font-size: 1.5rem;
        font-weight: bold;

        color: var(--white);

        background-color: var(--cyan);

        transition: all 0.2s;

        &:hover {
            filter: brightness(0.8);
        }
    }

    button {
        width: 240px;

        align-self: center;
    }

}

@media(min-width: 375px) {
    .hero {
        h1 {
            font-size: 2.3rem;
        }
    }
}

@media(min-width: 490px) {
    .hero {
        h1, p {
            text-align: center;
        }
    }
}

//Tablet
@media(min-width: 768px) {
    .homeContainer {
        background: linear-gradient(to top, #000, transparent 100%), url("https://files.wallpaperpass.com/2019/10/violet%20evergarden%20wallpaper%20117%20-%202907x4096.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero {
        padding: 4rem;

        h1 {
            margin: 6rem 0 2rem 0;
            padding: 0 3rem;
        }

        a {
            margin: 0;
        }

        &:last-child button {
            display: none;
        }
    }
}

//desktop 
@media(min-width: 1024px) {
    .homeContainer {
        align-items: right;
        justify-content: right;
    }

    .hero {
        width: 920px;

        padding: 2rem;

        h1 {
            margin-top: 2rem;

            font-size: 4rem;

            line-height: 4.8rem;
        }

        p {
            font-size: 1.6rem;
        }
    }
}