.signInButton, .signOutButton {
    height: 3rem;
    width: 140px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    padding: 0 1.5rem;

    border: none;
    border-radius: 3rem;

    font-weight: bold;

    color: var(--white);
    background-color: transparent;

    svg {
        width: 20px;
        height: 20px;
    }

    svg:first-child {
        margin-right: 1rem;
    }

    &:hover {
        filter: brightness(0.8);
    }

    transition: filter 0.2s;
}

.signOutButton {
    width: 42px;
    padding: 0;

    margin-left: 1rem;

    svg:first-child {
        width: 100%;
        margin: 0 0 0 1rem;
    }
}

@media(min-width: 768px) {
    .signInButton {
        margin-left: 6rem;
    }

    .signOutButton {
        margin: 0;
    }
}