.menuBurgerContainer {
  width: 34px;
  height: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  cursor: pointer;

  z-index: 100;

  span {
    width: 100%;
    height: 3px;

    display: block;

    background-color: var(--yellow-100);

    transition: transform 0.2s;

   
  }
}

.active {
  span {
    &:first-child {
      width: 80%;
      transform: rotate(40deg) translate(5px, 9px);
    }

    &:nth-child(2) {
      visibility: hidden;
    }

    &:last-child {
      width: 80%;
      transform: rotate(-40deg) translate(3px, -7px);
    }
  }
}


@media(min-width: 771px) {
  .menuBurgerContainer {
    display: none;
  }
}