.listContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
    letter-spacing: 0.5px;

    margin-top: 1rem;

    color: var(--gray-300);
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 70%;

    margin: 1rem 0 2rem 0;

    border-radius: 1.5rem;

    position: relative;

    background-color: var(--gray-800);

    input {
      background: none;
      border: none;
      border-radius: 1.5rem;
      width: 100%;

      padding: 0.6rem 1rem;

      color: var(--gray-300);
    }

    button {
      border: none;
      background: none;

      svg {
        position: absolute;
        right: 1.3rem;
        top: 0.6rem;

        font-size: 1.3rem;

        color: var(--gray-300);

        cursor: pointer;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

.listContent {
  width: 100%;
  max-width: 420px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  li {
    margin-bottom: 2rem;

    list-style: none;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    transition: font-size 0.2s linear;

    position: relative;

    img {
      width: 100%;

      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      object-fit: cover;

      margin-bottom: 0.5rem;
      margin-top: 2rem;

      -webkit-mask-image: linear-gradient(to top, transparent -10%, #121214 50%);

      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

      &:hover {
        -webkit-mask-image: linear-gradient(to top, transparent -10%, #121214 70%);
      }
    }

    span {
      width: 100%;

      position: absolute;

      left: 1px;
      bottom: 18px;

      text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
  }
}
